body {
    color: black;
    background-color: white;
    text-align: center;
    font-family: 'Arial', 'Noto Sans JP', sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;

    display: flex;
    flex-direction: column;
}

/* a {
    padding: 12px 28px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    background-color: #1C8C42;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */

.header {
    position: relative;
    padding: 4px 0px;
    border: medium solid black;
    border-radius: 10px;

    background-color: white;
    color: black;

    margin: 70px 100px 50px 100px;
    display: flex;
    align-items: center;
}

.head-url {
    font-family: "Trade Winds", system-ui;
    font-style: normal;
    font-size: 40px;
    font-weight: 400;
    color: black;
    text-decoration: none;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    
    text-align: left;
}

.head-url:hover {
    color: white;
}

.head-icon {
    width: 60px;
    height: 60px;

    margin-left: 10px;
    margin-right: 12px;
}

hr {
    margin: 0px 80px 0px 80px;
}

.gake {
    position: absolute;
    top: -66px;
    left: -100px;
    width: 200px;
    height: 200px;
}

.tool_box {
    margin: 50px 60px 50px 60px;
    display: flex;
    justify-content: space-between;

    background-color: white;
}

.tool_link {
    text-align: center;
    background-color: #1C8C42;
    color: white;
    flex: 1;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    
    font-weight: 600;
    text-decoration: none;
}

.tool_link:hover {
    background-color: #1C8C42;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.kojing_box {
    position: relative;
}

.kojing {
    width: 300px;
    height: 300px;
    margin: auto;
}

.kojing_message {
    color: black;
    font-weight: bold;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin-top: 100px;
    margin-left: 280px;
    animation: hurueru .1500ms  infinite;
}

@keyframes hurueru {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(2px, 2px) rotateZ(1deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}

footer {
    margin-top: auto;
    background-color: whitesmoke;
    padding: 10px;
    text-align: center;

}

.back_home {
    position: absolute;
    left: 0;
    background-color: white;
    color: #1C8C42;
    border: medium solid #1C8C42;
    border-radius: 0 30px 30px 0;
    margin-top: 20px;

    text-decoration: none;
    font-weight: 900;
    padding: 10px 10px 10px 60px;
}

.back_home:hover {
    background-color: #1C8C42;
    color: white;
}
.back_home:hover .back_home_img {
    filter: brightness(0) invert(100%);
}

.back_home_img {
    position: absolute;
    width: 70px;
    height: 70px;
    top: -12px;
    left: -2px;
}

.tool_head {
    position: relative;
    width: 100%;
    margin-bottom: 150px;
}

.tool_title {
    position: absolute;
    right: 0;
    left: 0;
    top: 60px;
}

.oclock_timer_box {
    position: relative;
    border: medium solid black;
    border-radius: 20px;
    margin: 100px auto 100px auto;
    width: 420px;
    height: 80px;
}

#bar {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 0;
    height: 60px;
    background-color: #1C8C42;
    color: #1C8C42;
    transition: width ls ease;
    border-radius: 10px;
}

#time {
    position: relative;
    margin-top: 100px;
    text-align: center;
    color: black;
    font-size: 6vw;
    font-weight: 600;
}

.oclock_in {
    margin-top: 100px;
    font-weight: bolder;
}

.tc_box {
    position: relative;
    top: 50px;
    padding-top: 50px;
}

.text_box {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    resize: vertical;
    border: 4px solid #1C8C42;
    border-radius: 6px;

    width: 80%;
    font-size: 2.3vw;
}
/* スマホだけに適用させたい */
@media (max-width: 600px) {
    .text_box {
        font-size: 4vw;
    }
}

.counter_man {
    position: absolute;
    top: -38px;
    left: 50%;
    transform: translateX(-100%);
    width: 160px;
    height: 160px;
}

#count {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-30%);
    font-weight: 400;
    font-size: 30px;
}

.rs_menu_box {
    border: medium solid #1C8C42;
    border-radius: 20px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: grid; /*グリッドレイアウト化*/
    grid-template-rows: 1fr 1fr 1fr 50px;
    grid-template-columns: 1fr 150px;
    grid-template-areas: 
        "areaA areaA"
        "areaB areac"
        "areaD areaE"
        "areaF areaF";
    column-gap: 5%;
    row-gap: 5%;
    padding: 6%;
}

#show_resolution {
    grid-area: areaA;
}

button[name="rs_set"]  #caution{
    grid-template-areas: areaF;
}