body {
    color: black;
    background-color: whitesmoke;
    text-align: center;
}

h1 {
    border-bottom-style: dashed;
}

a {
    /* background-color: white;
    border-left-style: solid;
    border-left-width: 1%;










    
    border-left-color: black; */
}