body {
    color: black;
    background-color: white;
    text-align: center;
    font-family: 'Arial', 'Noto Sans JP', sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;

    display: flex;
    flex-direction: column;
}

/* a {
    padding: 12px 28px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    background-color: green;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */

.header {
    position: relative;
    padding: 4px 0px;
    border: medium solid black;
    border-radius: 10px;

    background-color: white;
    color: black;

    margin: 70px 100px 50px 100px;
    display: flex;
    align-items: center;
}

.head-url {
    font-family: "Trade Winds", system-ui;
    font-style: normal;
    font-size: 40px;
    font-weight: 400;
    color: black;
    text-decoration: none;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    
    text-align: left;
}

.head-url:hover {
    color: white;
}

.head-icon {
    width: 60px;
    height: 60px;

    margin-left: 10px;
    margin-right: 12px;
}

hr {
    margin: 0px 80px 0px 80px;
}

.gake {
    position: absolute;
    top: -66px;
    left: -100px;
    width: 200px;
    height: 200px;
}

.tool_box {
    margin: 50px 60px 50px 60px;
    display: flex;
    justify-content: space-between;

    background-color: white;
}

.tool_link {
    text-align: center;
    background-color: green;
    color: white;
    flex: 1;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    
    font-weight: 600;
    text-decoration: none;
}

.tool_link:hover {
    background-color: mediumseagreen;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.kojing_box {
    position: relative;
}

.kojing {
    width: 300px;
    height: 300px;
    margin: auto;
}

.kojing_message {
    color: black;
    font-weight: bold;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin-top: 100px;
    margin-left: 280px;
    animation: hurueru .1500ms  infinite;
}

@keyframes hurueru {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(2px, 2px) rotateZ(1deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}

footer {
    margin-top: auto;
    background-color: whitesmoke;
    padding: 10px;
    text-align: center;

}

.back_home {
    position: absolute;
    left: 0;
    background-color: white;
    color: green;
    border: medium solid green;
    border-radius: 0 30px 30px 0;
    margin-top: 20px;

    text-decoration: none;
    font-weight: 900;
    padding: 10px 10px 10px 60px;
}

.back_home:hover {
    background-color: green;
    color: white;
}
.back_home:hover .back_home_img {
    filter: brightness(0) invert(100%);
}

.back_home_img {
    position: absolute;
    width: 70px;
    height: 70px;
    top: -12px;
    left: -2px;
}

.tool_head {
    position: relative;
    width: 100%;
    margin-bottom: 100px;
}

.tool_title {
    position: absolute;
    right: 0;
    left: 0;
    top: 60px;
}

.oclock_timer_box {
    position: relative;
    border: medium solid black;
    border-radius: 20px;
    margin: 100px auto 100px auto;
    width: 420px;
    height: 80px;
}

#bar {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 0;
    height: 60px;
    background-color: green;
    color: green;
    transition: width ls ease;
    border-radius: 10px;
}

#time {
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
    color: black;
    font-size: 40px;
    font-weight: 600;
}

.oclock_in {
    margin-top: 100px;
    font-weight: bolder;
}