body {
    color: black;
    background-color: whitesmoke;
    text-align: center;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

h1 {
    border-bottom-style: dashed;
}

a {
    padding: auto;
    border: none;
    border-radius: 2px;
    cursor: pointer;

    background-color: green;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}