body {
    color: black;
    background-color: white;
    text-align: center;
    font-family: 'Arial', 'Noto Sans JP', sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

/* a {
    padding: 12px 28px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    background-color: green;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */

.header {
    position: relative;
    padding: 10px 0px;
    border: medium solid black;
    border-radius: 10px;

    background-color: white;
    color: black;

    margin: 70px 100px 100px 100px;

}

.head-url {
    font-family: "Trade Winds", system-ui;
    font-style: normal;
    font-size: 40px;
    font-weight: 400;
    color: black;
    text-decoration: none;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    
}

.head-url:hover {
    color: white;
}


.gake {
    position: absolute;
    top: -66px;
    left: -94px;
    width: 200px;
    height: 200px;
}