body {
    color: black;
    background-color: whitesmoke;
    text-align: center;
    font-family: 'Arial', 'Noto Sans JP', sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

h1 {
    border-bottom-style: dashed;
}

a {
    padding: 12px 28px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    background-color: green;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
    padding: 10px 10px;
    border: medium solid black;
    border-radius: 10px;

    background-color: white;
    color: black;

}

.head-f {
    font-family: 'メイリオ';
    font-size: 30px;
    font-weight: 600;
    color: black;
}